#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}



.picture{
  height: 100px; /* Adjusted from 6em to make the logo smaller */
  will-change: filter;
  transition: filter 300ms;
  background-color: transparent;
  align-items: left;
  margin-top: 50px;
}

.logo:hover {
  filter: drop-shadow(0 0 40px #7D8F69);
}
.logo.react:hover {
  filter: drop-shadow(0 0 40px #7D8F69);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


#main-heading {
  
  -webkit-background-clip: text; /* Apply gradient to text */
  background-clip: text; /* Apply gradient to text */
  color: #fbfbfb; /* Hide original text color */
  transition: color 1s;
}

#main-heading:hover {
  
  color: #E6E5A3;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  
}

.button {
  margin: 10px;
  padding: 10px 20px;
}

.chat-box{
  width: 600;
  transform: scale(1.5);
  height: 600;
  overflow-y: auto;
  text-align: left;
  padding-right: 100px;
  padding-bottom: 50px;
  word-wrap: break-word;
  width: 200px;
  overflow-wrap: break-word;

}


.read-the-docs {
  color: #888;
}